__pycache__/
*.pyc
.DS_Store
.venv/
venv/
build/
dist/
*.spec
PNG/
source/
Grid.png
Grid3.png
Snake Trident.png
apple_1.png
apple_1.svg
preview.gif
20251029*.png
20251117*.png
20251118*.png
20251124*.png
20251125helpButton1-Sheet.png
20251125moreButton1-Sheet.png
20251125portraitFrameB.png
20251125upArrowButton1-Sheet.png
